In [1]:
import requests
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd
from html.parser import HTMLParser
import re

In [2]:
names = {'Iron-Man',
        'Incredible-Hulk-The',
        'Thor',
        'Iron-Man-2',
        'Captain-America-The-First-Avenger',
        'Avengers-The-(2012)',
        'Iron-Man-3',
        'Thor-The-Dark-World',
        'Captain-America-The-Winter-Soldier',
        'Guardians-of-the-Galaxy',
        'Avengers-Age-of-Ultron',
        'Ant-Man',
        'Captain-America-Civil-War',
        'Doctor-Strange-(2016)',
        'Guardians-of-the-Galaxy-Vol-2',
        'Spider-Man-Homecoming',
        'Thor-Ragnarok',
        'Black-Panther',
        'Avengers-Infinity-War',
        'Ant-Man-and-the-Wasp',
        'Captain-Marvel-(2019)',
        'Avengers-Endgame-(2019)'
         }

In [3]:
track=0
for name in names:
    track+=1
    print(name)
    data = requests.get('https://www.the-numbers.com/movie/' + name + '#tab=box-office')
    soup = BeautifulSoup(data.text, 'html.parser')
    div = soup.find('div' , {'id': 'box_office_chart'})
    table = div.find('table')
    tbody = table.find('tbody')
    html = table.encode(encoding='ISO-8859-1')
    dfs = pd.read_html(html,header=0)
    df = dfs[0]
    df['movie'] = name
    if track==1:
        all_df = df
    elif track>=2:
        all_df = pd.concat([all_df, df])
#    df.to_csv('movie'+str(name)+'.csv', encoding='ISO-8859-1')
    print(name)
all_df.to_csv('marvel_universe.csv', encoding='ISO-8859-1')
df

Iron-Man-2
Iron-Man-2
Captain-America-The-Winter-Soldier
Captain-America-The-Winter-Soldier
Doctor-Strange-(2016)
Doctor-Strange-(2016)
Black-Panther
Black-Panther
Spider-Man-Homecoming
Spider-Man-Homecoming
Avengers-Infinity-War
Avengers-Infinity-War
Captain-America-Civil-War
Captain-America-Civil-War
Iron-Man-3
Iron-Man-3
Ant-Man
Ant-Man
Thor-The-Dark-World
Thor-The-Dark-World
Avengers-Age-of-Ultron
Avengers-Age-of-Ultron
Captain-America-The-First-Avenger
Captain-America-The-First-Avenger
Iron-Man
Iron-Man
Thor-Ragnarok
Thor-Ragnarok
Avengers-The-(2012)
Avengers-The-(2012)
Captain-Marvel-(2019)
Captain-Marvel-(2019)
Guardians-of-the-Galaxy-Vol-2
Guardians-of-the-Galaxy-Vol-2
Incredible-Hulk-The
Incredible-Hulk-The
Thor
Thor
Ant-Man-and-the-Wasp
Ant-Man-and-the-Wasp
Avengers-Endgame-(2019)
Avengers-Endgame-(2019)
Guardians-of-the-Galaxy
Guardians-of-the-Galaxy

,Date,Rank,Gross,% Change,Theaters,Per Theater,Total Gross,Week,movie
0,"Aug 1, 2014",1,"$94,320,883",NaN,4080,"$23,118","$94,320,883",1,Guardians-of-the-Galaxy
1,"Aug 8, 2014",2,"$42,124,922",-55%,4088,"$10,305","$176,515,761",2,Guardians-of-the-Galaxy
2,"Aug 15, 2014",2,"$25,115,564",-40%,3697,"$6,793","$222,661,385",3,Guardians-of-the-Galaxy
3,"Aug 22, 2014",1,"$17,202,212",-32%,3371,"$5,103","$251,456,069",4,Guardians-of-the-Galaxy
4,"Aug 29, 2014",1,"$17,082,262",-1%,3462,"$4,934","$275,379,530",5,Guardians-of-the-Galaxy
5,"Sep 5, 2014",1,"$10,357,345",-39%,3221,"$3,216","$294,765,199",6,Guardians-of-the-Galaxy
6,"Sep 12, 2014",3,"$8,102,358",-22%,3104,"$2,610","$305,987,190",7,Guardians-of-the-Galaxy
7,"Sep 19, 2014",6,"$5,242,286",-35%,2846,"$1,842","$313,731,317",8,Guardians-of-the-Galaxy
8,"Sep 26, 2014",8,"$3,765,941",-28%,2451,"$1,536","$319,169,216",9,Guardians-of-the-Galaxy
9,"Oct 3, 2014",9,"$3,005,083",-20%,1894,"$1,587","$323,331,487",10,Guardians-of-the-Galaxy
10,"Oct 10, 2014",12,"$1,824,863",-39%,1291,"$1,414","$326,094,767",11,Guardians-of-the-Galaxy
11,"Oct 17, 2014",13,"$959,912",-47%,730,"$1,315","$327,792,643",12,Guardians-of-the-Galaxy
12,"Oct 24, 2014",18,"$554,531",-42%,402,"$1,379","$328,650,120",13,Guardians-of-the-Galaxy
13,"Oct 31, 2014",21,"$563,687",+2%,334,"$1,688","$329,390,224",14,Guardians-of-the-Galaxy
14,"Nov 7, 2014",18,"$415,000",-26%,296,"$1,402","$329,805,224",15,Guardians-of-the-Galaxy
15,"Nov 14, 2014",23,"$292,787",-29%,233,"$1,257","$330,487,141",16,Guardians-of-the-Galaxy
16,"Nov 21, 2014",20,"$471,000",+61%,324,"$1,454","$331,041,783",17,Guardians-of-the-Galaxy
17,"Nov 28, 2014",17,"$461,937",-2%,285,"$1,621","$331,855,381",18,Guardians-of-the-Galaxy
18,"Dec 5, 2014",22,"$266,761",-42%,276,$967,"$332,226,145",19,Guardians-of-the-Galaxy
19,"Dec 12, 2014",25,"$180,906",-32%,245,$738,"$332,490,182",20,Guardians-of-the-Galaxy
20,"Dec 19, 2014",30,"$104,971",-42%,206,$510,"$332,657,316",21,Guardians-of-the-Galaxy
21,"Dec 26, 2014",34,"$112,786",+7%,170,$663,"$332,862,030",22,Guardians-of-the-Galaxy
22,"Jan 2, 2015",38,"$89,733",-20%,154,$583,"$333,055,258",23,Guardians-of-the-Galaxy
23,"Jan 9, 2015",42,"$50,725",-43%,125,$406,"$333,130,696",24,Guardians-of-the-Galaxy
24,"Jan 16, 2015",52,"$26,958",-47%,65,$415,"$333,172,112",25,Guardians-of-the-Galaxy

In [5]:
track=0
for name in names:
    track+=1
    print(name)
    data = requests.get('https://www.the-numbers.com/movie/' + name + '#tab=cast-and-crew')
    soup = BeautifulSoup(data.text, 'html.parser')
    div = soup.find('div' , {'class': 'cast_new'})
    table = div.find('table')
    tbody = table.find('tbody')
    html = tbody.encode(encoding='ISO-8859-1')
    dfs = pd.read_html(html,header=0)
    df = dfs[0]
    df['movie'] = name
    if track==1:
        actor_df = df
    elif track>=2:
        actor_df = pd.concat([all_df, df])
#    df.to_csv('movie'+str(name)+'.csv', encoding='ISO-8859-1')
    print(name)
actor_df.to_csv('marvel_actor.csv')

Iron-Man-2

AttributeError: 'NoneType' object has no attribute 'encode'